<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.249.1.min.js"></script>
    <!-- <script type= "text/javascript" src="../../models/aws-model.js"></script> -->
    <script src="../js/aws.js"></script>
    <script>
       function getHtml(template) {
          return template.join('\n');
       }
       listAlbums();
    </script>
  </head>
  <body>
    <h1>My Photo Albums App</h1>
    <div id="app"></div>
  </body>
</html>